PORT=5000
JWT_SECRET=change_me_for_production
USE_MOCK_DB=true

# Можно оставить только этот ключ
TWOGIS_KEY=your_2gis_key_here

# Или задать отдельные ключи по сервисам
TWOGIS_MAP_KEY=
TWOGIS_ROUTING_KEY=
TWOGIS_GEOCODER_KEY=
TWOGIS_PLACES_KEY=
